In [1]:
import pandas as pd

In [45]:
df = pd.read_csv(r"C:\Users\SOURAV\Downloads\encode (1) (1).csv")

In [46]:
df

   ID     Name  Gender  Age    Country Purchased Customer Satisfaction
0   1    Alice  Female   23        USA       Yes        Very Satisfied
1   2      Bob    Male   35     Canada        No               Neutral
2   3  Charlie    Male   45  Australia       Yes             Satisfied
3   4    Diana  Female   28         UK        No          Dissatisfied
4   5    Ethan    Male   30        USA       Yes        Very Satisfied
5   6    Fiona  Female   22     Canada        No     Very Dissatisfied
6   7   George    Male   29  Australia       Yes             Satisfied
7   8   Hannah  Female   33         UK        No               Neutral
8   9      Ian    Male   40        USA       Yes        Very Satisfied
9  10  Jessica  Female   27     Canada        No          Dissatisfied

### ONE HOT ENCODING

In [47]:
from sklearn.preprocessing import OneHotEncoder

In [48]:
ohe = OneHotEncoder(dtype='int', drop='first')
pd.DataFrame(ohe.fit_transform(df[['Gender']]).todense(), columns=ohe.get_feature_names_out())

   Gender_Male
0            0
1            1
2            1
3            0
4            1
5            0
6            1
7            0
8            1
9            0

In [49]:
ohe = OneHotEncoder(dtype='int', drop='first')
pd.DataFrame(ohe.fit_transform(df[['Country']]).todense(), columns=ohe.get_feature_names_out())

   Country_Canada  Country_UK  Country_USA
0               0           0            1
1               1           0            0
2               0           0            0
3               0           1            0
4               0           0            1
5               1           0            0
6               0           0            0
7               0           1            0
8               0           0            1
9               1           0            0

In [50]:
ohe = OneHotEncoder(dtype='int', drop='first')
pd.DataFrame(ohe.fit_transform(df[['Purchased']]).todense(), columns=ohe.get_feature_names_out())

   Purchased_Yes
0              1
1              0
2              1
3              0
4              1
5              0
6              1
7              0
8              1
9              0

In [34]:
car_brand = pd.read_csv(r"C:\Users\SOURAV\Downloads\Car Brand.csv")

In [35]:
car_brand.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### fit()

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(stop_words='english')

In [41]:
df = pd.read_csv(r"C:\Users\SOURAV\Downloads\4743416-text_filess\sample_text.csv")

In [42]:
bow.fit(df['text'])

CountVectorizer(stop_words='english')

In [28]:
bow.fit(df[['text']]).todense()

AttributeError: 'CountVectorizer' object has no attribute 'todense'

In [26]:
bow.vocabulary_

{'data': 2, 'analyst': 1, 'scientist': 5, 'engineer': 3, 'ml': 4, 'ai': 0}

# fit_transform()

In [29]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [33]:
ohe.fit_transform(df[['text']]).todense()

matrix([[0., 1., 0.],
        [0., 0., 1.],
        [1., 0., 0.]])

# transform()

In [36]:
car_brand.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [38]:
df.head()

   ID     Name  Gender  Age    Country Purchased Customer Satisfaction
0   1    Alice  Female   23        USA       Yes        Very Satisfied
1   2      Bob    Male   35     Canada        No               Neutral
2   3  Charlie    Male   45  Australia       Yes             Satisfied
3   4    Diana  Female   28         UK        No          Dissatisfied
4   5    Ethan    Male   30        USA       Yes        Very Satisfied

In [44]:
ohe.transform(df[['text']]).todense()

matrix([[0., 1., 0.],
        [0., 0., 1.],
        [1., 0., 0.]])

In [52]:
ohe.categories_

[array(['No', 'Yes'], dtype=object)]

# Ordinal Encoding

In [55]:
df = pd.read_csv(r"C:\Users\SOURAV\Downloads\encode (1) (1).csv")

In [56]:
df

   ID     Name  Gender  Age    Country Purchased Customer Satisfaction
0   1    Alice  Female   23        USA       Yes        Very Satisfied
1   2      Bob    Male   35     Canada        No               Neutral
2   3  Charlie    Male   45  Australia       Yes             Satisfied
3   4    Diana  Female   28         UK        No          Dissatisfied
4   5    Ethan    Male   30        USA       Yes        Very Satisfied
5   6    Fiona  Female   22     Canada        No     Very Dissatisfied
6   7   George    Male   29  Australia       Yes             Satisfied
7   8   Hannah  Female   33         UK        No               Neutral
8   9      Ian    Male   40        USA       Yes        Very Satisfied
9  10  Jessica  Female   27     Canada        No          Dissatisfied

In [57]:
from sklearn.preprocessing import OrdinalEncoder

In [64]:
seq = [['Very Dissatisfied','Dissatisfied','Neutral','Satisfied','Very Satisfied']]
ordinal  = OrdinalEncoder(categories=seq)

In [65]:
ordinal.fit_transform(df[['Customer Satisfaction']])

array([[4.],
       [2.],
       [3.],
       [1.],
       [4.],
       [0.],
       [3.],
       [2.],
       [4.],
       [1.]])

In [66]:
df['Customer Satisfaction'].unique()

array(['Very Satisfied', 'Neutral', 'Satisfied', 'Dissatisfied',
       'Very Dissatisfied'], dtype=object)

In [67]:
ordinal.categories_

[array(['Very Dissatisfied', 'Dissatisfied', 'Neutral', 'Satisfied',
        'Very Satisfied'], dtype=object)]

# Missing Values

In [1]:
import pandas as pd

In [22]:
df = pd.read_csv(r"C:\Users\SOURAV\Documents\EDA_INNOMATICS\pandas\Datasets\Data Cleaning\emp_salary.csv")

In [4]:
df.drop(columns='Unnamed: 0', inplace=True)

In [7]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

In [12]:
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

In [14]:
ohe = OneHotEncoder(drop='first')
df[['Gender']] = ohe.fit_transform(df[['Gender']]).todense()

In [15]:
X = df.drop(columns='Salary')
y = df['Salary']

In [18]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X,y)

ValueError: could not convert string to float: 'Arjun'

# Missing Values in ML Module

### Simple Imputer

In [19]:
from sklearn.impute import SimpleImputer

In [20]:
df

      Name   Age  Gender   Salary
0    Arjun  23.0     1.0  42720.0
1   Rajesh  45.0     1.0  23000.0
2   Ramesh   NaN     1.0  45000.0
3   Suresh  48.0     1.0  56000.0
4     Asha  43.0     0.0  55600.0
5  Mounika  27.0     0.0  34000.0
6   Naresh  34.0     1.0  42720.0

In [28]:
mean_imp = SimpleImputer(strategy='mean')
df[['Age']] = mean_imp.fit_transform(df[['Age']])

In [29]:
median_imputer = SimpleImputer(strategy='median')
df[['Salary']] = median_imputer.fit_transform(df[['Salary']])

In [33]:
mode_imputer = SimpleImputer(strategy='most_frequent')
df[['Gender']] = mode_imputer.fit_transform(df[['Gender']])

In [34]:
median_imputer.statistics_

array([45000.])

In [35]:
mode_imputer.statistics_

array(['Male'], dtype=object)

In [36]:
df

   Unnamed: 0     Name        Age  Gender   Salary
0           0    Arjun  23.000000    Male  45000.0
1           1   Rajesh  45.000000    Male  23000.0
2           2   Ramesh  36.666667    Male  45000.0
3           3   Suresh  48.000000    Male  56000.0
4           4     Asha  43.000000  Female  55600.0
5           5  Mounika  27.000000  Female  34000.0
6           6   Naresh  34.000000    Male  45000.0

# Feature Transformation

In [37]:
df = pd.read_csv(r"C:\Users\SOURAV\Documents\EDA_INNOMATICS\pandas\Datasets\Distributions.csv")

In [39]:
df.head()

,Unnamed: 0,Fearure 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8
0,0,11.554128,-26.034430,-2.675178,1.274961,2.401627,12.695860,15.390034,1.040080
1,1,6.524486,-16.982278,-2.144519,1.934269,0.210880,13.382041,513.897859,2.393011
2,2,13.235726,-7.796441,-2.792420,-0.961317,1.721768,12.894932,457104.219000,1.286125
3,3,29.099671,-4.127851,-2.307962,1.878895,0.786647,8.983775,1022.104024,1.012143
4,4,5.985034,-13.851603,-3.893615,-0.275065,0.081054,11.610182,214933.717800,1.862475

In [40]:
from sklearn.preprocessing import PowerTransformer

In [44]:
pt = PowerTransformer(method='box-cox')
pt.fit_transform(df[['Fearure 1']])

array([[ 0.50291375],
       [-0.1425586 ],
       [ 0.65403859],
       [ 1.51288114],
       [-0.24143315],
       [-0.24141619],
       [ 1.56700736],
       [ 0.7732711 ],
       [-0.48565839],
       [ 0.54889972],
       [-0.47934429],
       [-0.48175444],
       [ 0.24587582],
       [-2.03432001],
       [-1.8272828 ],
       [-0.5826033 ],
       [-1.05823717],
       [ 0.31906999],
       [-0.94684424],
       [-1.48702394],
       [ 1.45747775],
       [-0.23278047],
       [ 0.06839334],
       [-1.50048954],
       [-0.56387402],
       [ 0.1126593 ],
       [-1.20578102],
       [ 0.38113099],
       [-0.62276462],
       [-0.30094331],
       [-0.62388381],
       [ 1.82838906],
       [-0.01446088],
       [-1.10607696],
       [ 0.82795751],
       [-1.280678  ],
       [ 0.21229173],
       [-2.08554364],
       [-1.39617585],
       [ 0.2001026 ],
       [ 0.74447841],
       [ 0.17419396],
       [-0.11929244],
       [-0.31068814],
       [-1.55875107],
       [-0.74798191],
       [-0.47644777],
       [ 1.05941674],
       [ 0.34875126],
       [-1.86906165],
       [ 0.32901435],
       [-0.39781436],
       [-0.70282777],
       [ 0.61807146],
       [ 1.03374622],
       [ 0.93551145],
       [-0.87396192],
       [-0.31908826],
       [ 0.33627002],
       [ 0.97916473],
       [-0.49577359],
       [-0.19138255],
       [-1.15800281],
       [-1.2542375 ],
       [ 0.81802423],
       [ 1.35149467],
       [-0.07445793],
       [ 1.00672675],
       [ 0.36694249],
       [-0.66942068],
       [ 0.36669984],
       [ 1.52735013],
       [-0.03733985],
       [ 1.55298297],
       [-2.82455785],
       [ 0.82732072],
       [ 0.08831354],
       [-0.30851688],
       [ 0.09312189],
       [-2.11639423],
       [-0.22647701],
       [ 0.36237669],
       [ 1.46931142],
       [-0.53658259],
       [-0.84148135],
       [-0.51933826],
       [ 0.91983445],
       [ 0.33373126],
       [-0.54858789],
       [ 0.51952712],
       [ 0.09854434],
       [ 0.97236493],
       [-0.72925647],
       [-0.3382111 ],
       [-0.40511655],
       [-1.54247927],
       [ 0.30073439],
       [ 0.26522906],
       [ 0.00459309],
       [-0.24188126],
       [-1.49034204],
       [-0.4347967 ],
       [-0.35382282],
       [-0.83491434],
       [-0.16626296],
       [ 0.40971517],
       [ 1.86065154],
       [ 0.17745725],
       [ 0.26167749],
       [-0.07695849],
       [-2.04037828],
       [-0.02779582],
       [ 0.06094138],
       [ 2.40319845],
       [-0.19829395],
       [ 0.30622525],
       [-0.03619766],
       [-1.2247239 ],
       [ 1.1434499 ],
       [ 0.75786736],
       [ 0.7967013 ],
       [-0.94829036],
       [ 1.39664675],
       [-1.4757187 ],
       [ 0.59325385],
       [ 2.14825108],
       [-1.03450316],
       [-0.58679996],
       [ 0.10116892],
       [-0.52113245],
       [-1.63710584],
       [ 0.06944977],
       [-1.1109774 ],
       [ 0.47969008],
       [-0.95893864],
       [ 1.53881561],
       [-0.81482711],
       [-0.33240469],
       [ 0.81900731],
       [-1.29143949],
       [ 0.23116614],
       [ 1.30378704],
       [-1.69897521],
       [ 0.18767907],
       [ 0.26404102],
       [ 0.78755998],
       [-1.2979779 ],
       [-1.38784295],
       [ 0.52822844],
       [ 0.30160903],
       [ 0.25452446],
       [ 0.35160928],
       [-0.70608929],
       [ 0.23602936],
       [ 0.29765025],
       [-0.74219927],
       [ 1.84123566],
       [ 0.47993174],
       [-1.2489785 ],
       [ 0.66288479],
       [-1.01763761],
       [ 0.7927834 ],
       [ 1.15888511],
       [-0.85436229],
       [ 0.96717144],
       [ 0.41851009],
       [ 0.827477  ],
       [ 1.87073517],
       [-0.25304197],
       [-0.78368984],
       [-0.92721888],
       [-0.84921282],
       [-0.07968517],
       [ 0.3462602 ],
       [ 0.28106694],
       [ 0.8325548 ],
       [ 0.01266524],
       [ 1.44576469],
       [-0.27296416],
       [ 2.64084862],
       [ 0.63205101],
       [-0.89294573],
       [-1.12014387],
       [ 0.4886117 ],
       [-0.23039134],
       [ 0.72013508],
       [ 0.47933354],
       [-0.07529847],
       [-0.88197728],
       [-1.59817725],
       [-0.46173111],
       [ 0.86149267],
       [ 0.21760147],
       [-1.30742139],
       [ 0.17603702],
       [ 0.39083239],
       [-0.92122373],
       [ 0.15624797],
       [ 0.05887687],
       [-1.19719113],
       [ 0.36305784],
       [ 0.56715699],
       [ 1.084871  ],
       [ 1.05615549],
       [-1.44958224],
       [-0.97847139],
       [ 0.52130073],
       [ 0.52004734],
       [ 0.52131319],
       [ 3.66043122],
       [ 0.57727555],
       [ 1.13634483],
       [ 0.95792853],
       [ 0.65773379],
       [-0.32536457],
       [ 0.76486024],
       [-0.80382255],
       [-0.24418667],
       [-0.50222993],
       [ 0.08303573],
       [ 2.26466902],
       [-1.983602  ],
       [ 0.69250577],
       [-1.70467979],
       [-0.48822073],
       [ 1.09065873],
       [ 0.06507689],
       [-1.12745924],
       [-0.74320173],
       [ 0.68586552],
       [-0.75906307],
       [ 0.22000195],
       [ 0.04596734],
       [-0.67622494],
       [ 2.10450911],
       [ 0.64029231],
       [-2.15799658],
       [ 0.18952911],
       [-0.68692327],
       [ 0.85756684],
       [-0.82461065],
       [-0.11835482],
       [ 0.51121825],
       [ 0.87075315],
       [-1.2586249 ],
       [-0.34530319],
       [-0.49136311],
       [-0.67804046],
       [ 1.74558257],
       [ 0.41065308],
       [-1.32370371],
       [ 0.92226378],
       [ 2.0839912 ],
       [ 1.03518728],
       [-1.60309001],
       [-0.50105161],
       [ 1.26462578],
       [-0.73516639],
       [ 0.44975485],
       [ 0.78042176],
       [-0.96690493],
       [-0.06164497],
       [-3.53806795],
       [-1.07054786],
       [-0.26046375],
       [-1.30961873],
       [ 1.61814884],
       [-1.50632729],
       [-0.45499177],
       [ 0.13285036],
       [ 1.43390473],
       [-1.51252098],
       [ 1.16335374],
       [ 0.00983221],
       [-1.0248986 ],
       [ 0.46814265],
       [ 0.2023357 ],
       [-0.62232257],
       [ 0.07071476],
       [-0.39805474],
       [ 0.11530379],
       [ 0.66844841],
       [ 1.57355421],
       [-1.29890704],
       [ 2.09423655],
       [-2.0771649 ],
       [-0.15647791],
       [ 0.59471454],
       [ 0.28542198],
       [-0.64589401],
       [-0.21455488],
       [-0.51019898],
       [-0.61095231],
       [ 0.85476352],
       [ 0.36227868],
       [-0.71963786],
       [ 0.90422258],
       [ 0.31204378],
       [ 0.81835771],
       [ 0.63600785],
       [-0.8631506 ],
       [-0.58039913],
       [ 0.75325543],
       [ 0.61676612],
       [-0.02204547],
       [ 0.11918637],
       [ 1.27509946],
       [-0.6132639 ],
       [ 0.55344644],
       [-0.20843613],
       [-0.22442174],
       [ 1.1002961 ],
       [ 0.83080364],
       [ 0.81899979],
       [ 1.30216858],
       [ 0.020851  ],
       [ 0.6882131 ],
       [-0.32018074],
       [ 0.32909762],
       [-0.13420153],
       [ 0.09846115],
       [ 0.60155593],
       [-0.85176036],
       [ 2.0559292 ],
       [-1.05098138],
       [-1.27353329],
       [ 1.15841092],
       [ 0.79732729],
       [ 0.63050513],
       [ 0.63472609],
       [-0.01318021],
       [-0.93542364],
       [ 0.07684172],
       [-0.70307974],
       [ 0.97874558],
       [-0.15161002],
       [-0.8594523 ],
       [-0.33170428],
       [ 0.41866171],
       [-0.58410707],
       [-0.85598815],
       [ 0.24762486],
       [ 0.24892202],
       [-0.52475282],
       [-0.48728901],
       [ 0.23582267],
       [-1.52575818],
       [-1.48178865],
       [-0.74650793],
       [-0.22005084],
       [ 0.31569278],
       [ 1.46685936],
       [ 0.86274077],
       [-0.16487523],
       [-0.02011398],
       [-1.04726782],
       [-0.01959864],
       [-0.29780095],
       [ 0.32763422],
       [-0.86128536],
       [ 0.52562557],
       [ 1.52224328],
       [-0.11221038],
       [ 0.40735815],
       [ 0.69637584],
       [-0.41459024],
       [ 0.22774936],
       [ 0.01224627],
       [ 0.09915472],
       [-0.80401728],
       [ 0.02443707],
       [ 0.50420293],
       [ 1.44345282],
       [ 0.96312412],
       [ 2.1132037 ],
       [-0.79804388],
       [ 0.87724926],
       [ 0.18636615],
       [ 2.1476378 ],
       [-0.84127499],
       [-0.87449539],
       [-0.62145881],
       [-2.26763006],
       [-0.54440247],
       [-0.78937985],
       [ 0.15285808],
       [ 0.34687028],
       [ 1.85112687],
       [ 0.95439989],
       [-0.5979022 ],
       [-0.93665383],
       [ 0.49809935],
       [-1.38760214],
       [ 1.80855861],
       [ 1.17926896],
       [-0.48534692],
       [-1.81438189],
       [ 1.34919613],
       [-0.11815267],
       [ 1.23626659],
       [-1.68474722],
       [-0.62144034],
       [ 0.00472639],
       [ 0.0474068 ],
       [-0.4654299 ],
       [ 0.62923653],
       [-1.11665135],
       [-0.1467943 ],
       [ 0.12221074],
       [ 0.52070236],
       [ 0.71776019],
       [-1.17757867],
       [-1.6191117 ],
       [ 1.27511108],
       [ 0.33733158],
       [-0.77815583],
       [ 1.53998864],
       [ 0.11750223],
       [ 1.17912924],
       [ 0.06838341],
       [ 2.02606817],
       [ 1.73591884],
       [-0.25673815],
       [ 0.97524857],
       [ 0.65173042],
       [ 1.363521  ],
       [-1.00726241],
       [ 0.69229776],
       [ 1.06069577],
       [-1.86434536],
       [-1.24035178],
       [-2.17361263],
       [-0.27787755],
       [ 0.72366052],
       [ 1.49293517],
       [ 0.07509663],
       [ 1.61450338],
       [-1.45220981],
       [-1.80370934],
       [-0.05756406],
       [ 0.38956999],
       [-0.03413021],
       [-2.20490469],
       [-0.0920278 ],
       [-1.37061566],
       [ 0.67597017],
       [ 0.37195024],
       [-0.98065341],
       [-0.53198324],
       [-1.10768011],
       [-0.06488103],
       [ 0.95905328],
       [-1.02938507],
       [ 0.51027405],
       [-0.54910773],
       [-0.82498242],
       [-0.11043219],
       [-1.08211597],
       [-0.57356567],
       [-1.25603031],
       [ 1.93521584],
       [ 0.03543192],
       [-0.72680761],
       [ 0.21748592],
       [-0.11587849],
       [-0.22781691],
       [ 0.62056038],
       [ 0.76340789],
       [-0.54936225],
       [-0.59676578],
       [-0.28371778],
       [-2.46634284],
       [-1.59855071],
       [ 1.36181586],
       [ 1.63020422],
       [-0.25681246],
       [ 0.5829473 ],
       [ 0.31603923],
       [ 2.96867701],
       [ 1.12068215],
       [-0.1319119 ],
       [-0.99728987],
       [-1.69784491],
       [ 0.20680845],
       [-0.78644648],
       [-1.49778986],
       [-0.67094624],
       [-1.13152035],
       [ 1.670652  ],
       [ 0.88646711],
       [-0.00880325],
       [ 1.47129205],
       [ 0.07843767],
       [-0.89731435],
       [ 1.51297202],
       [ 0.54524159],
       [-1.08425205],
       [-0.19620829],
       [-0.91249441],
       [-1.45512526],
       [ 0.93047454],
       [ 1.88273042],
       [-1.47216833],
       [ 0.56934476],
       [-0.67521922],
       [-0.50406806],
       [-0.61412562],
       [-0.90018001],
       [ 0.04898134],
       [-0.86521798],
       [ 0.27475345],
       [-0.05211764],
       [-0.24638685],
       [-0.9463559 ],
       [-0.59776365],
       [ 0.76130451],
       [ 0.50713306],
       [-1.02069363],
       [ 0.10084358],
       [ 0.75732473],
       [-1.76655702],
       [ 0.54970158],
       [-0.68780285],
       [ 0.5769834 ],
       [-0.7937316 ],
       [-1.91498866],
       [-1.72084993],
       [ 0.04853518],
       [ 0.26387859],
       [-0.94291217],
       [ 0.64495869],
       [-1.75794198],
       [-0.06837094],
       [-1.27012811],
       [-0.6764725 ],
       [ 0.04783398],
       [-0.8963924 ],
       [-0.39726699],
       [ 1.00944304],
       [-0.59788986],
       [ 0.84098621],
       [-1.18299691],
       [ 0.53611316],
       [ 1.43419048],
       [-2.65708155],
       [-0.82923001],
       [ 0.58346289],
       [-0.20931598],
       [ 0.37653874],
       [-0.62627192],
       [ 0.08784703],
       [-0.16048614],
       [ 1.16787061],
       [ 0.25850584],
       [ 0.34267485],
       [-0.42567363],
       [-0.50456975],
       [-0.44719651],
       [ 0.40004168],
       [-0.43514964],
       [ 0.2943129 ],
       [ 2.03990206],
       [ 0.87606608],
       [-0.33651215],
       [ 1.20054379],
       [-0.42171922],
       [-2.17238467],
       [-1.05318433],
       [-1.98748595],
       [-0.36295302],
       [ 0.01820643],
       [ 1.66039211],
       [ 0.33188818],
       [-0.22588709],
       [ 0.83475718],
       [-2.36483438],
       [ 0.23943838],
       [ 0.77667863],
       [-1.55882076],
       [ 1.14436146],
       [ 0.34357772],
       [-0.42922219],
       [ 0.63915674],
       [ 2.22352372],
       [ 0.18486624],
       [ 0.25222103],
       [-0.47511593],
       [-0.88520544],
       [ 0.835679  ],
       [-0.89180915],
       [ 0.07251565],
       [-0.49419159],
       [ 0.4851031 ],
       [ 0.33869371],
       [ 1.04017589],
       [-0.52796193],
       [-0.27836181],
       [-1.02197893],
       [-0.45941691],
       [ 0.38274738],
       [ 0.76289202],
       [-0.96184746],
       [ 0.87456341],
       [ 1.3509101 ],
       [ 0.4191688 ],
       [ 1.85172135],
       [-0.80483963],
       [-1.30625629],
       [-1.8862638 ],
       [ 1.48684117],
       [ 0.66070178],
       [-0.05760199],
       [ 0.28438597],
       [-1.17848466],
       [ 2.38693358],
       [ 0.13130291],
       [ 0.1111021 ],
       [ 0.73184508],
       [ 0.48714187],
       [ 0.22753783],
       [-0.82245011],
       [ 0.47755558],
       [ 1.85669436],
       [ 1.3409888 ],
       [ 1.58045116],
       [-0.52921433],
       [-1.03351197],
       [-0.12971999],
       [ 0.05633997],
       [ 1.09579937],
       [-1.79176588],
       [ 1.51916901],
       [-0.16288661],
       [-0.44128662],
       [-1.05746319],
       [-1.75066393],
       [ 0.82857769],
       [ 0.07430373],
       [-1.3549909 ],
       [-1.36050148],
       [-0.34663435],
       [ 1.6532817 ],
       [-0.26772543],
       [-1.58546771],
       [-0.25340882],
       [-0.28130892],
       [-2.91217669],
       [-0.05627884],
       [-0.23810807],
       [ 0.7024156 ],
       [ 1.82522586],
       [ 1.12753007],
       [-0.27734154],
       [-1.1582069 ],
       [ 2.50534667],
       [ 0.05990809],
       [ 0.01361407],
       [-0.02534811],
       [ 0.20134543],
       [-0.14883348],
       [-0.59450836],
       [-0.56646348],
       [-0.03419019],
       [-0.56287232],
       [-0.7406144 ],
       [ 0.1080802 ],
       [-0.2629544 ],
       [ 1.49451418],
       [-2.85999163],
       [ 1.0931662 ],
       [ 1.24432968],
       [-2.21150711],
       [-0.35379489],
       [-0.38364217],
       [-1.48184048],
       [-0.8090894 ],
       [-1.16253634],
       [ 1.7329842 ],
       [ 0.93985233],
       [ 1.26914932],
       [ 0.72777067],
       [-1.18229605],
       [-0.54311228],
       [ 0.49554407],
       [-1.28205686],
       [ 0.71913755],
       [-0.24781005],
       [-0.38715292],
       [ 0.71710818],
       [ 0.45020141],
       [-0.37276504],
       [ 1.15960339],
       [-1.13100277],
       [ 0.62232808],
       [ 0.59949989],
       [-0.31943439],
       [ 0.33108536],
       [-1.31319864],
       [ 0.92835138],
       [-0.19060217],
       [-0.54123446],
       [ 1.05144698],
       [-0.73166663],
       [-1.48286758],
       [-1.6435953 ],
       [ 0.61240761],
       [-1.3447309 ],
       [ 1.73539637],
       [-2.22098826],
       [ 1.67957649],
       [ 0.21447851],
       [-0.09982876],
       [-0.56443489],
       [ 0.40476259],
       [-0.03919396],
       [ 1.1047329 ],
       [ 0.11602766],
       [ 0.15276443],
       [-0.37551232],
       [-0.0589982 ],
       [ 0.31255176],
       [-1.81113536],
       [-1.41774834],
       [ 0.74924912],
       [ 0.17368266],
       [-0.18965483],
       [ 0.01822234],
       [ 0.35275394],
       [-0.55904022],
       [-0.80960442],
       [ 0.19907055],
       [-1.02156313],
       [ 0.41394865],
       [-1.80283529],
       [ 1.03193327],
       [ 0.47869027],
       [ 0.26013642],
       [ 0.98620475],
       [ 1.64987996],
       [ 1.01739096],
       [-1.95455492],
       [-1.34381356],
       [-0.64811676],
       [ 0.02605373],
       [ 0.52393284],
       [-0.75419422],
       [ 0.18984662],
       [-0.78542605],
       [-0.63416819],
       [-1.4809205 ],
       [-0.96298081],
       [-1.4215245 ],
       [-1.0189048 ],
       [ 1.05599807],
       [-0.99076443],
       [ 2.55991652],
       [ 0.49950384],
       [ 0.18788463],
       [-0.89421626],
       [ 0.70650299],
       [-0.59657689],
       [ 0.12395717],
       [ 2.49305548],
       [-0.09915757],
       [ 1.14976351],
       [-0.73043841],
       [-0.03648131],
       [ 1.75068971],
       [-0.65037056],
       [ 1.79043731],
       [ 0.71391414],
       [-0.58279087],
       [ 0.63878313],
       [ 0.97621777],
       [ 0.62819756],
       [-1.65839002],
       [-0.75566165],
       [-0.25524401],
       [-0.07694567],
       [ 0.62706075],
       [ 0.18063235],
       [-1.40389528],
       [ 0.38566965],
       [ 0.61698149],
       [ 0.56616146],
       [ 1.08264308],
       [ 0.83923259],
       [ 0.46520355],
       [-0.07256464],
       [-1.7573312 ],
       [ 0.43546398],
       [ 0.21109777],
       [ 0.27588989],
       [-1.34076985],
       [-1.13099553],
       [ 1.05551777],
       [-0.0411628 ],
       [ 0.68776231],
       [ 0.02833131],
       [ 0.02980141],
       [ 0.94242338],
       [-0.53425791],
       [ 0.09756864],
       [-0.4781535 ],
       [-0.44921432],
       [-0.31904656],
       [ 0.22576174],
       [-0.49532967],
       [ 1.25375662],
       [-0.93261732],
       [-0.19263297],
       [-0.45466536],
       [ 1.43942354],
       [ 0.1997913 ],
       [ 1.03457702],
       [-1.56638592],
       [ 0.27130279],
       [ 0.89436863],
       [ 0.08345393],
       [ 1.06762467],
       [-0.53555704],
       [ 1.4029959 ],
       [ 2.24992775],
       [-0.37470904],
       [-0.4606765 ],
       [ 1.44562002],
       [ 1.56735315],
       [-0.5413776 ],
       [-0.43431957],
       [-0.2906854 ],
       [-1.41371837],
       [-0.95811915],
       [-1.04898336],
       [-0.79851856],
       [-0.0361701 ],
       [ 0.23801855],
       [ 1.539361  ],
       [-1.04282318],
       [ 0.98781173],
       [-0.22061   ],
       [-0.05132338],
       [ 0.68110211],
       [-1.17552487],
       [ 0.38790034],
       [ 0.16919476],
       [ 0.49863364],
       [ 0.29369933],
       [ 2.39581423],
       [-0.66167444],
       [-0.54988043],
       [-0.64635658],
       [-0.57547774],
       [-0.66130412],
       [ 1.18862814],
       [ 1.41380169],
       [-0.59145614],
       [-0.86670425],
       [ 0.47750252],
       [-0.57207375],
       [ 0.63930649],
       [ 0.20625943],
       [-1.59915142],
       [ 1.53647512],
       [ 1.77463028],
       [-0.63550066],
       [-0.40053642],
       [ 0.29035577],
       [ 0.33949663],
       [ 0.66487079],
       [ 1.97828889],
       [-0.18240129],
       [-0.83071064],
       [-1.45136468],
       [-0.75965653],
       [-0.03457322],
       [ 1.77337087],
       [-0.53589428],
       [ 0.22744034],
       [-0.0174575 ],
       [ 1.18801913],
       [ 2.46233299],
       [-0.54974646],
       [-0.50648253],
       [ 1.04668303],
       [ 0.68815182],
       [ 1.82308441],
       [ 0.59032354],
       [-0.37102706],
       [ 0.59705291],
       [ 1.11002825],
       [ 0.82591276],
       [ 0.5135132 ],
       [ 1.0687973 ],
       [ 1.16935071],
       [ 1.3766431 ],
       [ 0.65505792],
       [-0.17227174],
       [ 0.14911277],
       [ 1.20571475],
       [-0.85040221],
       [ 0.37404406],
       [-0.40639582],
       [ 0.02876736],
       [ 1.27586576],
       [ 0.19424874],
       [ 0.04685091],
       [-1.43034486],
       [ 0.75222144],
       [ 0.65183845],

# Feature Scaling

In [45]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [46]:
ss = StandardScaler()
ss.fit_transform(df[['Fearure 1']])

array([[ 2.18786004e-02],
       [-3.47864254e-01],
       [ 1.45497538e-01],
       [ 1.31169993e+00],
       [-3.87520862e-01],
       [-3.87514360e-01],
       [ 1.42264912e+00],
       [ 2.56217815e-01],
       [-4.71496735e-01],
       [ 5.76580288e-02],
       [-4.69550869e-01],
       [-4.70294929e-01],
       [-1.52151280e-01],
       [-7.30419980e-01],
       [-7.12485609e-01],
       [-5.00025969e-01],
       [-6.09188313e-01],
       [-1.06754947e-01],
       [-5.87593567e-01],
       [-6.75115944e-01],
       [ 1.20402955e+00],
       [-3.84191183e-01],
       [-2.50270911e-01],
       [-6.76813098e-01],
       [-4.94706244e-01],
       [-2.27281363e-01],
       [-6.34714286e-01],
       [-6.57709754e-02],
       [-5.11136138e-01],
       [-4.09725709e-01],
       [-5.11440056e-01],
       [ 2.04952005e+00],
       [-2.90865783e-01],
       [-6.17830497e-01],
       [ 3.11324501e-01],
       [-6.46460515e-01],
       [-1.71972342e-01],
       [-7.34389597e-01],
       [-6.63131877e-01],
       [-1.79015295e-01],
       [ 2.28329047e-01],
       [-1.93724456e-01],
       [-3.38001571e-01],
       [-4.13248856e-01],
       [-6.83932015e-01],
       [-5.43319657e-01],
       [-4.68654514e-01],
       [ 5.79015974e-01],
       [-8.74489032e-02],
       [-7.16364740e-01],
       [-1.00345907e-01],
       [-4.43404115e-01],
       [-5.32127089e-01],
       [ 1.14467358e-01],
       [ 5.46333930e-01],
       [ 4.28407035e-01],
       [-5.72267682e-01],
       [-4.16260958e-01],
       [-9.56321951e-02],
       [ 4.79450380e-01],
       [-4.74591045e-01],
       [-3.67892897e-01],
       [-6.26807988e-01],
       [-6.42401495e-01],
       [ 3.01101700e-01],
       [ 1.01352275e+00],
       [-3.18394442e-01],
       [ 5.12789197e-01],
       [-7.53504798e-02],
       [-5.23550850e-01],
       [-7.55132098e-02],
       [ 1.34078800e+00],
       [-3.01542255e-01],
       [ 1.39333725e+00],
       [-7.76094621e-01],
       [ 3.10666263e-01],
       [-2.40041200e-01],
       [-4.12466551e-01],
       [-2.37543720e-01],
       [-7.36698321e-01],
       [-3.81748969e-01],
       [-7.84063258e-02],
       [ 1.22654232e+00],
       [-4.86792613e-01],
       [-5.65111715e-01],
       [-4.81691296e-01],
       [ 4.10587536e-01],
       [-9.72851381e-02],
       [-4.90297681e-01],
       [ 3.46272891e-02],
       [-2.34713971e-01],
       [ 4.71359224e-01],
       [-5.38732780e-01],
       [-4.23033071e-01],
       [-4.45825182e-01],
       [-6.81979822e-01],
       [-1.18417992e-01],
       [-1.40446057e-01],
       [-2.81801716e-01],
       [-3.87692587e-01],
       [-6.75535988e-01],
       [-4.55503025e-01],
       [-4.28475452e-01],
       [-5.63639633e-01],
       [-3.57699655e-01],
       [-4.60834644e-02],
       [ 2.13867122e+00],
       [-1.91891108e-01],
       [-1.42609872e-01],
       [-3.19509282e-01],
       [-7.30898540e-01],
       [-2.97115731e-01],
       [-2.54049822e-01],
       [ 4.15844112e+00],
       [-3.70656790e-01],
       [-1.14946123e-01],
       [-3.01014541e-01],
       [-6.37758333e-01],
       [ 6.91794509e-01],
       [ 2.41203318e-01],
       [ 2.79479343e-01],
       [-5.87887758e-01],
       [ 1.09229815e+00],
       [-6.73675673e-01],
       [ 9.36596951e-02],
       [ 3.07303801e+00],
       [-6.04763634e-01],
       [-5.01205741e-01],
       [-2.33339236e-01],
       [-4.82225758e-01],
       [-6.92957156e-01],
       [-2.49733093e-01],
       [-6.18695367e-01],
       [ 4.38610915e-03],
       [-5.90042428e-01],
       [ 1.36413087e+00],
       [-5.59083078e-01],
       [-4.20989195e-01],
       [ 3.02109148e-01],
       [-6.48085872e-01],
       [-1.60908689e-01],
       [ 9.33943743e-01],
       [-6.99664285e-01],
       [-1.86112482e-01],
       [-1.41170671e-01],
       [ 2.70342452e-01],
       [-6.49065956e-01],
       [-6.61984484e-01],
       [ 4.13839931e-02],
       [-1.17866144e-01],
       [-1.46946343e-01],
       [-8.55616513e-02],
       [-5.32950745e-01],
       [-1.58026556e-01],
       [-1.20360348e-01],
       [-5.41911344e-01],
       [ 2.08467940e+00],
       [ 4.56618233e-03],
       [-6.41582897e-01],
       [ 1.53291690e-01],
       [-6.01562623e-01],
       [ 2.75553666e-01],
       [ 7.13515401e-01],
       [-5.67974313e-01],
       [ 4.65214659e-01],
       [-3.99196643e-02],
       [ 3.10827768e-01],
       [ 2.16712296e+00],
       [-3.91947164e-01],
       [-5.51856988e-01],
       [-5.83563615e-01],
       [-5.66833851e-01],
       [-3.20722032e-01],
       [-8.90897543e-02],
       [-1.30709545e-01],
       [ 3.16088453e-01],
       [-2.77913715e-01],
       [ 1.18199968e+00],
       [-3.99435289e-01],
       [ 5.45555552e+00],
       [ 1.26403524e-01],
       [-5.76355535e-01],
       [-6.20303163e-01],
       [ 1.10611464e-02],
       [-3.83267185e-01],
       [ 2.05334399e-01],
       [ 4.12050975e-03],
       [-3.18769468e-01],
       [-5.74002064e-01],
       [-6.88549658e-01],
       [-4.64063994e-01],
       [ 3.46556694e-01],
       [-1.68879425e-01],
       [-6.50471650e-01],
       [-1.92689688e-01],
       [-5.91477588e-02],
       [-5.82318511e-01],
       [-2.03708566e-01],
       [-2.55092170e-01],
       [-6.33317172e-01],
       [-7.79512576e-02],
       [ 7.22960939e-02],
       [ 6.12224500e-01],
       [ 5.74819366e-01],
       [-6.70291279e-01],
       [-5.93942469e-01],
       [ 3.60000649e-02],
       [ 3.50297075e-02],
       [ 3.60097164e-02],
       [ 1.65845451e+01],
       [ 8.05173927e-02],
       [ 6.81903656e-01],
       [ 4.54354021e-01],
       [ 1.48745395e-01],
       [-4.18496583e-01],
       [ 2.47992411e-01],
       [-5.56552081e-01],
       [-3.88574972e-01],
       [-4.76551401e-01],
       [-2.42769825e-01],
       [ 3.53435343e+00],
       [-7.26315259e-01],
       [ 1.79867671e-01],
       [-7.00264883e-01],
       [-4.72283242e-01],
       [ 6.19888913e-01],
       [-2.51955891e-01],
       [-6.21577008e-01],
       [-5.42156004e-01],
       [ 1.73845386e-01],
       [-5.45998167e-01],
       [-1.67476156e-01],
       [-2.61565362e-01],
       [-5.25318468e-01],
       [ 2.91313036e+00],
       [ 1.33514045e-01],
       [-7.39717468e-01],
       [-1.85060769e-01],
       [-5.28076034e-01],
       [ 3.42374065e-01],
       [-5.61312530e-01],
       [-3.37599698e-01],
       [ 2.82264978e-02],
       [ 3.56484863e-01],
       [-6.43081544e-01],
       [-4.25514974e-01],
       [-4.73245313e-01],
       [-5.25788291e-01],
       [ 1.83326475e+00],
       [-4.54285459e-02],
       [-6.52868254e-01],
       [ 4.13331502e-01],
       [ 2.84049450e+00],
       [ 5.48147435e-01],
       [-6.89114089e-01],
       [-4.76194474e-01],
       [ 8.71305564e-01],
       [-5.40188725e-01],
       [-1.76087880e-02],
       [ 2.63262428e-01],
       [-5.91641175e-01],
       [-3.12641758e-01],
       [-7.98117079e-01],
       [-6.11447148e-01],
       [-3.94752628e-01],
       [-6.50797070e-01],
       [ 1.53300380e+00],
       [-6.77542727e-01],
       [-4.61941396e-01],
       [-2.16479756e-01],
       [ 1.15994736e+00],
       [-6.78312813e-01],
       [ 7.19864094e-01],
       [-2.79281544e-01],
       [-6.02946573e-01],
       [-4.17129656e-03],
       [-1.77730929e-01],
       [-5.11016014e-01],
       [-2.49088412e-01],
       [-4.43484069e-01],
       [-2.25878053e-01],
       [ 1.58226998e-01],
       [ 1.43647040e+00],
       [-6.49204777e-01],
       [ 2.87657849e+00],
       [-7.33752049e-01],
       [-3.53665402e-01],
       [ 9.48709840e-02],
       [-1.28007080e-01],
       [-5.17355461e-01],
       [-3.77091397e-01],
       [-4.78955408e-01],
       [-5.07909828e-01],
       [ 3.39396894e-01],
       [-7.84717764e-02],
       [-5.36346691e-01],
       [ 3.93104092e-01],
       [-1.11247709e-01],
       [ 3.01443341e-01],
       [ 1.29810579e-01],
       [-5.69908669e-01],
       [-4.99404547e-01],
       [ 2.36750278e-01],
       [ 1.13360804e-01],
       [-2.94429969e-01],
       [-2.23811539e-01],
       [ 8.87827031e-01],
       [-5.08543888e-01],
       [ 6.12800422e-02],
       [-3.74681319e-01],
       [-3.80949644e-01],
       [ 6.32745828e-01],
       [ 3.14271356e-01],
       [ 3.02101440e-01],
       [ 9.31307866e-01],
       [-2.73941464e-01],
       [ 1.75970183e-01],
       [-4.16651012e-01],
       [-1.00291991e-01],
       [-3.44345715e-01],
       [-2.34757495e-01],
       [ 1.00566445e-01],
       [-5.67398710e-01],
       [ 2.74352634e+00],
       [-6.07845450e-01],
       [-6.45372936e-01],
       [ 7.12843304e-01],
       [ 2.80107921e-01],
       [ 1.25075877e-01],
       [ 1.28705527e-01],
       [-2.90261514e-01],
       [-5.85256939e-01],
       [-2.45955262e-01],
       [-5.32190806e-01],
       [ 4.78950105e-01],
       [-3.51644980e-01],
       [-5.69096494e-01],
       [-4.20741919e-01],
       [-3.98129606e-02],
       [-5.00449220e-01],
       [-5.68333314e-01],
       [-1.51102028e-01],
       [-1.50322762e-01],
       [-4.83301591e-01],
       [-4.71997463e-01],
       [-1.58149315e-01],
       [-6.79944844e-01],
       [-6.74450734e-01],
       [-5.42961371e-01],
       [-3.79244763e-01],
       [-1.08918094e-01],
       [ 1.22185616e+00],
       [ 3.47889703e-01],
       [-3.57129697e-01],
       [-2.93524667e-01],
       [-6.07154833e-01],
       [-2.93282849e-01],
       [-4.08582964e-01],
       [-1.01238931e-01],
       [-5.69499381e-01],
       [ 3.93570486e-02],
       [ 1.33047446e+00],
       [-3.34957605e-01],
       [-4.77267826e-02],
       [ 1.83394996e-01],
       [-4.48942507e-01],
       [-1.62925866e-01],
       [-2.78116223e-01],
       [-2.34394556e-01],
       [-5.56597084e-01],
       [-2.72191849e-01],
       [ 2.28608125e-02],
       [ 1.17768105e+00],
       [ 4.60447195e-01],
       [ 2.94436158e+00],
       [-5.55213054e-01],
       [ 3.63501602e-01],
       [-1.86857766e-01],
       [ 3.07074742e+00],
       [-5.65065587e-01],
       [-5.72383501e-01],
       [-5.10781159e-01],
       [-7.47182489e-01],
       [-4.89079996e-01],
       [-5.53192485e-01],
       [-2.05576000e-01],
       [-8.86882467e-02],
       [ 2.11205562e+00],
       [ 4.50232928e-01],
       [-5.04305484e-01],
       [-5.85509772e-01],
       [ 1.82210312e-02],
       [-6.61951202e-01],
       [ 1.99611391e+00],
       [ 7.42697809e-01],
       [-4.71401008e-01],
       [-7.11259423e-01],
       [ 1.00960392e+00],
       [-3.37513009e-01],
       [ 8.27399175e-01],
       [-6.98153387e-01],
       [-5.10776136e-01],
       [-2.81737746e-01],
       [-2.60847374e-01],
       [-4.65223479e-01],
       [ 1.23987807e-01],
       [-6.19692106e-01],
       [-3.49637368e-01],
       [-2.22196683e-01],
       [ 3.55366728e-02],
       [ 2.03119233e-01],
       [-6.30087533e-01],
       [-6.90938274e-01],
       [ 8.87845443e-01],
       [-9.49398731e-02],
       [-5.50551599e-01],
       [ 1.36653380e+00],
       [-2.24708839e-01],
       [ 7.42495827e-01],
       [-2.50275962e-01],
       [ 2.64327410e+00],
       [ 1.80915623e+00],
       [-3.93346698e-01],
       [ 4.74784093e-01],
       [ 1.43474521e-01],
       [ 1.03416941e+00],
       [-5.99569639e-01],
       [ 1.79678448e-01],
       [ 5.80665423e-01],
       [-7.15933757e-01],
       [-6.40231902e-01],
       [-7.40823543e-01],
       [-4.01261348e-01],
       [ 2.08631891e-01],
       [ 1.27226701e+00],
       [-2.46849450e-01],
       [ 1.52495366e+00],
       [-6.70635008e-01],
       [-7.10234728e-01],
       [-3.10795328e-01],
       [-6.00129996e-02],
       [-3.00057939e-01],
       [-7.42996394e-01],
       [-3.26174026e-01],
       [-6.59585806e-01],
       [ 1.64940544e-01],
       [-7.19838813e-02],
       [-5.94373976e-01],
       [-4.85439732e-01],
       [-6.18113844e-01],
       [-3.14101034e-01],
       [ 4.55670518e-01],
       [-6.03797274e-01],
       [ 2.75022736e-02],
       [-4.90448602e-01],
       [-5.61396866e-01],
       [-3.34190217e-01],
       [-6.13547511e-01],
       [-4.97470154e-01],
       [-6.42679696e-01],
       [ 2.35592357e+00],
       [-2.66791491e-01],
       [-5.38127235e-01],
       [-1.68946897e-01],
       [-3.36536668e-01],
       [-3.82269273e-01],
       [ 1.16581018e-01],
       [ 2.46578686e-01],
       [-4.90522467e-01],
       [-5.03989613e-01],
       [-4.03421296e-01],
       [-7.59072772e-01],
       [-6.88592649e-01],
       [ 1.03122740e+00],
       [ 1.55983058e+00],
       [-3.93374788e-01],
       [ 8.51599197e-02],
       [-1.08696500e-01],
       [ 7.84968150e+00],
       [ 6.60336445e-01],
       [-3.43377033e-01],
       [-5.97636705e-01],
       [-6.99544933e-01],
       [-1.75150440e-01],
       [-5.52504841e-01],
       [-6.76474428e-01],
       [-5.23948097e-01],
       [-6.22280648e-01],
       [ 1.65218693e+00],
       [ 3.73532766e-01],
       [-2.88190940e-01],
       [ 1.23033570e+00],
       [-2.45136238e-01],
       [-5.77286541e-01],
       [ 1.31188133e+00],
       [ 5.47550643e-02],
       [-6.13933011e-01],
       [-3.69824556e-01],
       [-5.80493689e-01],
       [-6.71015477e-01],
       [ 4.22652751e-01],
       [ 2.20133972e+00],
       [-6.73220436e-01],
       [ 7.40670435e-02],
       [-5.25057877e-01],
       [-4.77107439e-01],
       [-5.08779916e-01],
       [-5.77895290e-01],
       [-2.60060925e-01],
       [-5.70361522e-01],
       [-1.34607979e-01],
       [-3.08320292e-01],
       [-3.89415359e-01],
       [-5.87494137e-01],
       [-5.04266992e-01],
       [ 2.44534695e-01],
       [ 2.50976455e-02],
       [-6.02146184e-01],
       [-2.33509826e-01],
       [ 2.40678374e-01],
       [-7.06593518e-01],
       [ 5.82956881e-02],
       [-5.28301582e-01],
       [ 8.02789268e-02],
       [-5.54209321e-01],
       [-7.20471919e-01],
       [-7.01951382e-01],
       [-2.60283891e-01],
       [-1.41269676e-01],
       [-5.86791742e-01],
       [ 1.37564660e-01],
       [-7.05732449e-01],
       [-3.15669949e-01],
       [-6.44852197e-01],
       [-5.25382579e-01],
       [-2.60634121e-01],
       [-5.77090361e-01],
       [-4.43221987e-01],
       [ 5.16122499e-01],
       [-5.04302056e-01],
       [ 3.24879623e-01],
       [-6.30985336e-01],
       [ 4.75543072e-02],
       [ 1.16047569e+00],
       [-7.68765543e-01],
       [-5.62358456e-01],
       [ 8.55831694e-02],
       [-3.75028704e-01],
       [-6.88853310e-02],
       [-5.12087536e-01],
       [-2.40282919e-01],
       [-3.55322297e-01],
       [ 7.26309053e-01],
       [-1.44536206e-01],
       [-9.14447459e-02],
       [-4.52555812e-01],
       [-4.77259039e-01],
       [-4.59470086e-01],
       [-5.28049007e-02],
       [-4.55616556e-01],
       [-1.22455916e-01],
       [ 2.68934833e+00],
       [ 3.62220372e-01],
       [-4.22436146e-01],
       [ 7.73771483e-01],
       [-4.51270778e-01],
       [-7.40737097e-01],
       [-6.08254069e-01],
       [-7.26635907e-01],
       [-4.31622855e-01],
       [-2.75228044e-01],
       [ 1.62841263e+00],
       [-9.84826975e-02],
       [-3.81519696e-01],
       [ 3.18378026e-01],
       [-7.53247245e-01],
       [-1.55998493e-01],
       [ 2.59568867e-01],
       [-6.83940317e-01],
       [ 6.93068370e-01],
       [-9.08524492e-02],
       [-4.53705062e-01],
       [ 1.32531010e-01],
       [ 3.36512887e+00],
       [-1.87708083e-01],
       [-1.48336673e-01],
       [-4.68241578e-01],
       [-5.74697102e-01],
       [ 3.19337768e-01],
       [-5.76112726e-01],
       [-2.48169321e-01],
       [-4.74108960e-01],
       [ 8.42941900e-03],
       [-9.40505336e-02],
       [ 5.54444669e-01],
       [-4.84252287e-01],
       [-4.01440880e-01],
       [-6.02391147e-01],
       [-4.63336574e-01],
       [-6.46716002e-02],
       [ 2.46077012e-01],
       [-5.90627503e-01],
       [ 3.60595253e-01],
       [ 1.01252527e+00],
       [-3.94559767e-02],
       [ 2.11370952e+00],
       [-5.56787047e-01],
       [-6.50298847e-01],
       [-7.17922036e-01],
       [ 1.26037110e+00],
       [ 1.51362263e-01],
       [-3.10812521e-01],
       [-1.28650956e-01],
       [-6.30237954e-01],
       [ 4.08057136e+00],
       [-2.17314725e-01],
       [-2.28106102e-01],
       [ 2.16329702e-01],
       [ 9.95760519e-03],
       [-1.63050536e-01],
       [-5.60821858e-01],
       [ 2.79734477e-03],
       [ 2.12758291e+00],
       [ 9.95681934e-01],
       [ 1.45112663e+00],
       [-4.84622568e-01],
       [-6.04576826e-01],
       [-3.42447792e-01],
       [-2.56370310e-01],
       [ 6.26732113e-01],
       [-7.09076824e-01],
       [ 1.32429053e+00],
       [-3.56311691e-01],
       [-4.57584874e-01],
       [-6.09045477e-01],
       [-7.05000026e-01],
       [ 3.11965958e-01],
       [-2.47255258e-01],
       [-6.57378885e-01],
       [-6.58160663e-01],
       [-4.25979043e-01],
       [ 1.61207595e+00],
       [-3.97479328e-01],
       [-6.87078270e-01],
       [-3.92086280e-01],
       [-4.02531792e-01],
       [-7.79542302e-01],
       [-3.10212393e-01],
       [-3.86244420e-01],
       [ 1.88925636e-01],
       [ 2.04093096e+00],
       [ 6.69726069e-01],
       [-4.01062536e-01],
       [-6.26842472e-01],
       [ 4.67789238e+00],
       [-2.54571764e-01],
       [-2.77454809e-01],
       [-2.95974233e-01],
       [-1.78300811e-01],
       [-3.50488554e-01],
       [-5.03361201e-01],
       [-4.95447075e-01],
       [-3.00085718e-01],
       [-4.94419202e-01],
       [-5.41524092e-01],
       [-2.29703212e-01],
       [-3.95689871e-01],
       [ 1.27536086e+00],
       [-7.77519040e-01],
       [ 6.23222646e-01],
       [ 8.39760841e-01],
       [-7.43447546e-01],
       [-4.28465784e-01],
       [-4.38659433e-01],
       [-6.74457334e-01],
       [-5.57766524e-01],
       [-6.27572516e-01],
       [ 1.80188026e+00],
       [ 4.33388317e-01],
       [ 8.78420656e-01],
       [ 2.12490170e-01],
       [-6.30869443e-01],
       [-4.88703711e-01],
       [ 1.62864260e-02],
       [-6.46669626e-01],
       [ 2.04403352e-01],
       [-3.89958076e-01],
       [-4.39840460e-01],
       [ 2.02511947e-01],
       [-1.72851775e-02],
       [-4.34976437e-01],
       [ 7.14534042e-01],
       [-6.22191111e-01],
       [ 1.18085202e-01],
       [ 9.88509376e-02],
       [-4.16384580e-01],
       [-9.90036957e-02],
       [-6.51325911e-01],
       [ 4.20235456e-01],
       [-3.67579728e-01],
       [-4.88155262e-01],
       [ 5.68783440e-01],
       [-5.39327466e-01],
       [-6.74588073e-01],
       [-6.93677588e-01],
       [ 1.09675846e-01],
       [-6.55913266e-01],
       [ 1.80785933e+00],
       [-7.44091013e-01],
       [ 1.67306214e+00],
       [-1.70700385e-01],
       [-3.29588271e-01],
       [-4.94866852e-01],
       [-4.95322340e-02],
       [-3.02397707e-01],
       [ 6.38704832e-01],
       [-2.25493331e-01],
       [-2.05627507e-01],
       [-4.35910090e-01],
       [-3.11444999e-01],
       [-1.10923874e-01],
       [-7.10948709e-01],
       [-6.66063893e-01],
       [ 2.32897711e-01],
       [-1.94011211e-01],
       [-3.67199256e-01],
       [-2.75220313e-01],
       [-8.48043824e-02],
       [-4.93318703e-01],
       [-5.57884973e-01],
       [-1.79607984e-01],
       [-6.02311931e-01],
       [-4.31227902e-02],
       [-7.10150392e-01],
       [ 5.44055953e-01],
       [ 3.64152928e-03],
       [-1.43546561e-01],
       [ 4.87882801e-01],
       [ 1.60430034e+00],
       [ 5.25925572e-01],
       [-7.23883231e-01],
       [-6.55781585e-01],
       [-5.17946385e-01],
       [-2.71401205e-01],
       [ 3.80415179e-02],
       [-5.44824540e-01],
       [-1.84880087e-01],
       [-5.52265210e-01],
       [-5.14218578e-01],
       [-6.74340131e-01],
       [-5.90855056e-01],
       [-6.66571490e-01],
       [-6.01804791e-01],
       [ 5.74617124e-01],
       [-5.96362657e-01],
       [ 4.97824564e+00],
       [ 1.92863391e-02],
       [-1.85995714e-01],
       [-5.76626673e-01],
       [ 1.92686392e-01],
       [-5.03937080e-01],
       [-2.21262126e-01],
       [ 4.61250681e+00],
       [-3.29295469e-01],
       [ 7.00640350e-01],
       [-5.39024573e-01],
       [-3.01145644e-01],
       [ 1.84609854e+00],
       [-5.18544364e-01],

# Outliers

In [47]:
df = pd.DataFrame({'Marks': [10,20,30,40,50,900,-300]})

In [50]:
df

   Marks
0     10
1     20
2     30
3     40
4     50
5    900
6   -300

Library we use for identifying outliers - 'feature_engine'

In [51]:
!pip install feature_engine

Collecting feature_engine
  Downloading feature_engine-1.9.3-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: numpy>=1.18.2 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from feature_engine) (2.2.6)
Requirement already satisfied: pandas>=2.2.0 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from feature_engine) (2.3.3)
Requirement already satisfied: scikit-learn>=1.4.0 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from feature_engine) (1.7.2)
Requirement already satisfied: scipy>=1.4.1 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from feature_engine) (1.15.3)
Requirement already satisfied: statsmodels>=0.11.1 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from feature_engine) (0.14.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from pandas>=2.2.0->feature_engine) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from pandas>=2.2.0->feature_engine) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from pandas>=2.2.0->feature_engine) (2025.3)
Requirement already satisfied: six>=1.5 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->feature_engine) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from scikit-learn>=1.4.0->feature_engine) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from scikit-learn>=1.4.0->feature_engine) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from statsmodels>=0.11.1->feature_engine) (1.0.2)
Requirement already satisfied: packaging>=21.3 in c:\anaconda\envs\cv_fix_env\lib\site-packages (from statsmodels>=0.11.1->feature_engine) (23.2)
Downloading feature_engine-1.9.3-py3-none-any.whl (229 kB)
Installing collected packages: feature_engine
Successfully installed feature_engine-1.9.3

In [52]:
from feature_engine.outliers import OutlierTrimmer

In [53]:
outlier = OutlierTrimmer()

In [54]:
outlier.fit_transform(df[['Marks']])

   Marks
0     10
1     20
2     30
3     40
4     50
5    900
6   -300

# Missing Values

### a) Constant Value

In [79]:
df = pd.read_csv(r"C:\Users\SOURAV\Documents\EDA_INNOMATICS\pandas\Datasets\Data Cleaning\marks.csv")
df.drop(columns='Unnamed: 0', inplace=True)
import warnings
warnings.filterwarnings('ignore')

In [80]:
df

    X      Y
0   1    2.0
1   2    4.0
2   3    NaN
3   4    8.0
4   5   10.0
5  60  120.0

In [81]:
df['Y'].fillna(value=0, inplace=True)

In [82]:
df

    X      Y
0   1    2.0
1   2    4.0
2   3    0.0
3   4    8.0
4   5   10.0
5  60  120.0

### b) Statistical Value

In [83]:
df = pd.read_csv(r"C:\Users\SOURAV\Documents\EDA_INNOMATICS\pandas\Datasets\Data Cleaning\marks_missing.csv")
df

  Grade  Marks
0     A    NaN
1     A   77.0
2     B   65.0
3     B    NaN
4     C   45.0
5     C   37.0
6     A   88.0
7     B    NaN
8     C   40.0
9     A   95.0

In [84]:
df['Marks'].skew()

np.float64(0.12066614656987014)

In [85]:
df['Marks'].fillna(df['Marks'].mean(), inplace=True)

In [86]:
df

  Grade      Marks
0     A  63.857143
1     A  77.000000
2     B  65.000000
3     B  63.857143
4     C  45.000000
5     C  37.000000
6     A  88.000000
7     B  63.857143
8     C  40.000000
9     A  95.000000

### c) Dataset Value

### d) groupby

In [87]:
df = pd.read_csv(r"C:\Users\SOURAV\Documents\EDA_INNOMATICS\pandas\Datasets\Data Cleaning\marks_missing.csv")

In [88]:
df

  Grade  Marks
0     A    NaN
1     A   77.0
2     B   65.0
3     B    NaN
4     C   45.0
5     C   37.0
6     A   88.0
7     B    NaN
8     C   40.0
9     A   95.0

In [91]:
df['Marks'] = round(df.groupby(by='Grade')['Marks'].transform(lambda x: x.fillna(x.mean())))

In [92]:
df

  Grade  Marks
0     A   87.0
1     A   77.0
2     B   65.0
3     B   65.0
4     C   45.0
5     C   37.0
6     A   88.0
7     B   65.0
8     C   40.0
9     A   95.0

### e) Interpolate

In [93]:
import numpy as np

In [95]:
df = pd.DataFrame({'X': [10,20,30,40,50,60],
                  'Y': [np.nan, 20000,30000,np.nan,50000,60000]})

In [96]:
df

    X        Y
0  10      NaN
1  20  20000.0
2  30  30000.0
3  40      NaN
4  50  50000.0
5  60  60000.0

In [97]:
df.interpolate(method='linear')

    X        Y
0  10      NaN
1  20  20000.0
2  30  30000.0
3  40  40000.0
4  50  50000.0
5  60  60000.0