# One Hot Enoding

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\SOURAV\Downloads\encode (1).csv")

In [3]:
df

   ID     Name  Gender  Age    Country Purchased Customer Satisfaction
0   1    Alice  Female   23        USA       Yes        Very Satisfied
1   2      Bob    Male   35     Canada        No               Neutral
2   3  Charlie    Male   45  Australia       Yes             Satisfied
3   4    Diana  Female   28         UK        No          Dissatisfied
4   5    Ethan    Male   30        USA       Yes        Very Satisfied
5   6    Fiona  Female   22     Canada        No     Very Dissatisfied
6   7   George    Male   29  Australia       Yes             Satisfied
7   8   Hannah  Female   33         UK        No               Neutral
8   9      Ian    Male   40        USA       Yes        Very Satisfied
9  10  Jessica  Female   27     Canada        No          Dissatisfied