In [1]:
text = ["i am data analyst",
       "i am data analyst,data scientist and data engineer",
       "i am ML engineer and AI engineer"]

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

In [5]:
tf = TfidfVectorizer(norm='l1')
pd.DataFrame(tf.fit_transform(text).toarray(), columns=tf.get_feature_names_out())

         ai        am   analyst       and      data  engineer        ml  scientist
0  0.000000  0.279692  0.360154  0.000000  0.360154  0.000000  0.000000   0.000000
1  0.000000  0.095976  0.123587  0.123587  0.370761  0.123587  0.000000   0.162502
2  0.205246  0.121222  0.000000  0.156095  0.000000  0.312190  0.205246   0.000000

In [6]:
(1 + np.log(4/2)) * (1/6)

np.float64(0.2821911967599909)

In [1]:
2**8

256

In [2]:
2**32

4294967296

In [3]:
2**64

18446744073709551616